*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: teal;
}
.container {
    margin: auto;
    width: 50%;
    height: 100;
    padding: 30px;
    background-color: white;
    box-shadow: 20px 20px 20px 0px rgb(red, green, blue);
}
input[type='text'],
input[type='text'],
input[type='text'],
input[type='text'] {
    width: 100%;
   padding: 15px;
    margin: 5% 0 22px 0;
    display: inline-block;
    border: none;
    background: whitesmoke;
}
.reg{
    background: turquoise;
    padding: 3%;
    width: 100%;
}
:hover.reg{
    background-color: aqua;
}
